*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
body {
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    height: 100%;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(5px);
    height: 70px;
    width: 100%;
    border-bottom: 1px red solid;
    z-index: 10;
}
.icon a img{
    width: 50px;
    height: 50px;
}
nav {

}
nav ul {
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
nav ul li a {
    margin-left: 30px;
    color: rgb(0,0,0,0.5);
    transition: all 0.5s;
    font-size: 14px;
    position: relative;
}
nav ul li a:hover {
    color: black;
}
nav ul li a::before{
    content: '';
    border-bottom: 2px red solid;
    position: absolute;
    height: 2px;
    width: 0px;
    top: 100%;
    /* left: 100%; */
    transition: all 0.5s;
}
nav ul li a:hover::before{
    width: 100%;
}

nav ul li a:focus {
    color: red;
}
/* nav .show{
    opacity: 1;
    right: 90%;
    width: 500px;
    height: 500%;
} */

.toggle i{
    font-size: 1rem;
    color: red;
    border: 0.5px solid red;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
    display: none;
}
.icon a {
    color: red;
    font-size: 1.9rem;
    font-weight: 700;
}
.icon a:hover{
    color: purple;
} 
.toogle i:hover{
    background-color: #cc2e2e;
    color: white;
}
section{
    height: 100vh;
    width: 100%;
    /* border-bottom:2px solid #cc2e2e; */
    /* border-bottom: 2px rgba(255, 0, 0, 0.623) solid; */
    background: url(./img/Untitled\ design\ \(1\).png);
    background-size: cover;
    background-position: top;
}
#home {
    padding: 200px 12%;
}
section a {
    color: white;
    border: 1px solid red;
    padding: 10px;
    background-color: red;
    border-radius: 8px;
    transition: 0.8s;
}
section a:hover {
    color: white;
    background-color: black;
    border: none;
}
section h4{
    font-size: 16px;
    font-weight: 600;
    color: black;
}
section h2 {
    font-size: 55px;
    font-size: 700;
    letter-spacing: 1px;
    margin: 10px 0;
    color: red;
}
section p {
    font-size: 14px;
    width: 65%;
    font-weight: 500;
    margin-bottom: 40px;
}
#text {
    color: black;
}
.dp img{
    position: absolute;
    height: 100vh;
    overflow: hidden;
    top: 0;
    right: 10%;
    z-index: -2;
    object-fit: contain;
    max-width: 100%;
    
}
.dp img:hover {
    opacity: 0.8;
    background-color: black;
}
#about {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

#about p{
    margin-top: 20px;
    text-align: center;
}

#about button {
    text-align: center;
    display: block;
    margin: auto;
    align-items: center;
    color: white;
    border: 1px solid red;
    padding: 10px;
    background-color: red;
    border-radius: 8px;
    transition: 0.8s;
    margin-top: 20px;
}
#about button:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
}
#services {
    padding: 10% 12%;
    height: 100vh;
    position: relative;
}
#services h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;

}

    #classes {
        display: flex;
        gap: 5rem;
        margin-top: 20px;
        transition: all 0.5s;
    }
    #class {
        position: relative;
        border: 1px solid red;
        background-color: black;
        text-align: left;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 5px 5px 5px ;
        color: white;
        transition: all 0.5s;
        height: 350px;
        width: 50%;
    }
    #class:hover {
        background-color: red;
        top: -10px;
    }
    #class h2 {
        margin-bottom: 15px;
        font-size: 20px;
        text-align: left;
    }
    #class p {
        font: 5px;
        font-style: 400;
        text-align: left;

    }
    #class i{
        font-size: 40px;
        padding: 20px 10px;
        
    }
    #classes .first p {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.74);
        margin-bottom: 10px;

    }
    /* #classes .second p {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.74);
    } */
    #classes .third p {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.699);
        margin-bottom: 10px;

    }
    #classes a {
        color: white;
        font-size: 12px;
        font-weight: 600;
    }
    #classes a:hover {
        color:black;
    }

    #portfolio {
        height: 100vh;
        padding: 100px 12%;
        position: relative;
    }
    #portfolio h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;

    }

    #works {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        box-sizing: border-box;
        /* position: relative; */
    }
    .img {
        border-radius: 8px;
        width: 300px;
        height: 100%;
        overflow: hidden;
    }
    #works img {
         width: 100%;
         height: 100%;
        /* height: 300px; */
        background-size: cover;
        background-position: center;
        transition: 0.5s;
        overflow: hidden;
        
    }
    #works img:hover {
        transform: scale(1.1);
    }
    #work {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
    .layer  {
       position: absolute;
       color: white;
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;
       bottom: 0;
       left: 0;
       text-shadow: 2px 2px 2px red;
       background-color: rgba(0, 0, 0, 0.651) ;
       background: linear-gradient(rgba(0, 0, 0, 0.651),rgba(255, 0, 0, 0.534));
       height: 0;
       transition: 0.5s;
       width: 100%;
       border-radius: 8px;
       opacity: 0;
       
    }
    #work:hover .layer{
        opacity: 1;
        height: 100%;
        
    }
    .layer p {
        margin-top: 10px;
        padding: 0 10px;
    }
    .layer i{
        display: block;
        /* background-color: white; */
        border-radius: 50%;
        font-size: 20px;
        padding: 5px 0;
        margin-top: 5px;
        cursor: pointer;
    }

    

    #contact {
        padding: 170px 12%;
        height: 100vh;
        position: relative;
    }
    #contact h1 {
        font-size: 45px;
        font-weight: 600;
        text-align: left;
        margin-bottom: 20px;
    }
   
        .contact p i {
            font-size: 25px;
            margin-right: 10px;
            margin-bottom: 35px;
        }
        #icon {
            display: flex;
            gap: 1rem;
        }
        .icon {
            font-size: 30px;
            border: 10px;
            cursor: pointer;
            transition: 0.5s;
        }
        .icon:hover{
            color: red;
        }
        .form{
            float: right;
            position: absolute;
            top: 28%;
            left: 45%;
        }
        input {
            width: 600px;
            border: none;
            background-color: rgba(0, 0, 0, 0.377);
            padding: 15px 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        #Message {
            border: none;
            width: 600px;
            background-color: rgba(0, 0, 0, 0.377);
            padding: 15px 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        .form button {
            color: white;
            border: 1px solid red;
            padding: 15px 10px;
            
            background-color: red;
            width: 100%;
            border-radius: 8px;
            transition: 0.8s;
        }
        .form button:hover {
            color: white;
            background-color: black;
            border: 1px solid red;
            
        }
        small {
            display: block;
            text-align: right;
            font-style: italic;
            padding-right: 10px;
        }

        @media (max-width:1200px) {
            #classes {
                gap: 3rem;
            }
            #class {
                height: 400px;
                width: 60%;
            }
            input {
                width: 450px;
            }
            #Message {
                width: 450px;
            }
            #works {
                gap: 1rem;
            }
            .img {
                width: 250px;
            }
            }
        @media (max-width:920px) {
            .img {
                width: 220px;
            }
            input {
                width: 400px;
            }
            #Message {
                width: 400px;
            }
            #contact h1 {
                font-size: 40px;
                font-weight: 600;
            }
            #contact p {
                font-size: 14px;
            }
        }

        @media (max-width:900px) {
            .img {
                width: 200px;
            }
            input {
                width: 360px;
            }
            #Message {
                width: 360px;
            }
            #contact h1 {
                font-size: 40px;
                font-weight: 600;
            }
            #contact p {
                font-size: 14px;
            }
            .toggle i{
                display: block;
                opacity: 1;
                cursor: pointer;
            }
            .toggle i:hover{
               color: white;
               background-color: red;
            }
            nav {
   
            }

            nav ul {
                display: block;
                position: absolute;
                top: 100%;
                width: 50%;
                left: 50%;
                transition: 0.5s;
                background-color: rgba(0, 0, 0, 0.651);
                color: white;
                padding: 20px;
               height: 300px;
               border-radius: 8px;
                opacity: 0;
            }
            nav ul li {
                margin-bottom: 30px;

            }
            nav ul li a{
                color: white;
                margin-bottom: 20px;
                
            }
            nav ul li a:hover {
                color: white;
            } 
                  nav .show{
        opacity: 1;
     }
        }
        @media (max-width:800px) {
            section {

                background: url(./img/Untitled\ design\ \(1\)2.png);
                background-size: 600px;
                background-position: right;
                background-repeat: no-repeat;
            }
        }
        @media (max-width:780px) {
            /* #classes {
                gap: 2rem;
            }
            #class {
                height: 500px;
                width: 70%;
            } */
            section {

                background: url(./img/Untitled\ design\ \(1\)2.png);
                background-size: 600px;
                background-position: right;
                background-repeat: no-repeat;
            }
            .img {
                width: 160px;
            }
            input {
                margin-top: -40px;
                width: 300px;
            }
            #Message {
                width: 300px;
            }
            #contact h1 {
                font-size: 40px;
                font-weight: 600;
            }
            #contact p {
                font-size: 12px;
            }
            .layer h3 {
                font-size: 17px;
            }
            .layer p {
                font-size: 12px;
                margin-top: 10px;
                padding: 0 10px;
            }
            .dp img{
                position: absolute;
                height: 100vh;
                overflow: hidden;
                top: 0;
                right: 6%;
                z-index: -2;
            }
        }
        @media (max-width:680px) {
            #home {
                padding-top: 190px;
                overflow: hidden;

            }
            /* #classes {
                gap: 2rem;
            }
            #class {
                height: 500px;
                width: 70%;
            } */
            .dp img{
                position: absolute;
                height: 100vh;
                overflow: hidden;
                top: 0;
                right: 2%;
                z-index: -2;
            }
            .img {
                width: 160px;
            }
            input {
                width: 300px;
            }
            #Message {
                width: 300px;
            }
            #contact h1 {
                font-size: 30px;
                font-weight: 600;
            }
            #contact p {
                font-size: 10px;
                font-weight: 500;
 
        }
    }

        @media (max-width:630px) {
            #home {
                padding-top: 200px;
                overflow: hidden;

            }
            section {

                background: url(./img/Untitled\ design\ \(1\)2.png);
                background-size: 600px;
                background-position: right;
                background-repeat: no-repeat;
            }
            #home {
                height: 100vh;
                padding-top: 100px;
            }
            #about {
                display: block;
                padding-top: 120px;
                padding-bottom: 100px;

            }
            #services{
                padding-top: 20%;
                margin-top: 200px;
            } 
            #classes {
                display: block;
                /* justify-content: center; */
            }
            #class {
                margin-bottom: 20px;
                width: 100%;
            }
            #works {
                display: block;
                position: relative;
                width: 100%;
            }
            .img {
                border-radius: 8px;
                width: 300px;
                height: 300px;
                overflow: hidden;
                margin-bottom: 20px;
                position: relative;
            }
            #work {
                margin-left: 5%;
            }
            .layer {
                margin-bottom: 10px;
            }
             #portfolio {
                /* position: absolute; */
                margin-top: 600px;
                display: block;
                position: relative;
               
            }
            #contact {
                margin-top: 600px;
                display: block;
            }
            .form {
               position: absolute;
                float: none;
                margin-left: -200px;
                margin-top: 270px;
            }  
            input {
                width: 450px;
            }
            #Message {
                width: 450px;
            }
            #contact h1 {
                font-size: 40px;
                font-weight: 700;
            }
            #contact p {
                font-size: 16px;
                font-weight: 500;
            }
        }

        @media (max-width:500px) {
            #home {
                padding-top: 200px;
                overflow: hidden;

            }
            #home h4{
                padding-top: -100px;
            }
            section {

                background: url(./img/Untitled\ design\ \(1\)2.png);
                background-size: 600px;
                background-position: bottom;
                background-repeat: no-repeat;
            }
            #home h1 {
                font: 45px;
                font-weight: 600;
            }
            .dp img {
                width: 300px;
            }
            #home p{
                width: 80%;
            }
            input {
                width: 380px;
            }
            #Message {
                width: 380px;
            }
            .form {
                position: absolute;
                float: none;
                margin-left: -170px;
                margin-top: 270px;
            }  
 
        }
        @media (max-width:400px) {
            #home {
                padding-top: 190px;
                overflow: hidden;

            }
            section {
                overflow: hidden;
                border: none;
                /* box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.651); */
             
                background: url(./img/Untitled\ design\ \(1\)2.png);
                background-size: 600px;
                background-position: bottom;
                background-repeat: no-repeat;
            }
            #home h4{
                padding-top: -100px;
            }
            #home h2, #text{
                font: 30px;
                font-weight: 700;
            }

            #home h2 {
                font-size: 40px;

            }

            #text {
                font-size: 35px;
                letter-spacing: 0.5px;
                line-height: 3px;
            }
            .dp img {
                width: 260px;
                margin-top: -50px;
                height: 750px;
                overflow: hidden;
                box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.616);
            }   
            #home p{
                width: 80%;
            }
            #about {
                padding-bottom: 100px;
            }
            #services {
                margin-top: 350px;
            }

            input {
                width: 280px;
            }
            #Message {
                width: 280px;
            }
            #contact p{
                font-size: 10px;
                font-weight: 400;
            }
            #class {
                height: 500px;
            }

            #work {
                margin-left: 5%;
                width: 230px;
            }
            .img {
                width: 230px;
            }
            .form {
                position: absolute;
                float: none;
                margin-left: -130px;
                margin-top: 270px;
            }  
            .contact p i {
                font-size: 17px;
            }
 
        }
        @media (max-width:300px) {
            #home h1 {
                font: 40px;
                font-weight: 600;
            }
            .dp img {
                width: 220px;
            }
            #home p{
                width: 80%;
            }
            #contact p{
                font-size: 10px;
                font-weight: 400;
            }
            #work {
                margin-left: 5%;
            }
            input {
                width: 230px;
            }
            #Message {
                width: 230px;
            }
            .form {
                position: absolute;
                float: none;
                margin-left: -120px;
                margin-top: 270px;
            }  
 
        }

   

        